<div class="contact-me" id="contact-div">
	<div class="contact-box">
		<div class="contact-head">
			<h1>Contact Me</h1>
		</div>
		<div class="contact-left">
			<a href=""><i class="fa fa-instagram fa-md"></i>veekayworks</a><br/>
			<a href=""><i class="fa fa-facebook-square fa-md"></i>veekayworks</a><br/>
			<a href=""><i class="fa fa-twitter fa-md"></i>veekayworks</a><br/>
		</div>
		<div class="contact-right">
			<a href=""><i class="fa fa-spotify fa-md"></i>veekayworks</a><br/>
			<a href=""><i class="fa fa-linkedin fa-md"></i>veekayworks</a><br/>
			<a href=""><i class="fa fa-whatsapp fa-md"></i>+91 00000 00000</a><br/>
		</div>
	</div>	
</div>